

<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script src="app.js"></script>
<script src="JBridge.js"></script>
<script src="index.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
<center> <div class="title">TODO APP </div></center>
<center><div id="app" style="margin:20px;height: inherit;">
    <input class="w3-input w3-border"  type="text" placeholder="Enter the Content" name="todo" v-model="input" ></p>
    <p> {{give}} </p>
    <button type="submit" @click="addTodo">
        Add Todo
    </button>
    <br> <br> 
    <h4>LIST OF TODO'S :  {{count}}</h4>
    <br>

    <div v-for="item in todos" class="todoBox">
        <div>
            <p v-show=item.show >  <span>{{item.data}} </span> </p>
            <input class="w3-input w3-border" v-show=!item.show  rows="5" cols="100" v-model=item.data  >  </input>
        </div>
        <div style="width: 100% ;height:1px;background-color: #595959;margin:10px 0px 0px 0px;"></div>
        <div style="margin-top: 10px;">
            <button   v-show=!item.show @click='function(){ item.show=true; saveTodo(item) }' > SAVE</button>   
            <img  src="edit.svg" v-show=item.show  @click='function(){ item.show=false;  }' > </img>   
            <img  src="delete.svg" v-show=item.show  @click='deleteTodo(item)' > </img> 
        </div>
    </div>


</div>
<center>
</body>
<style type="text/css">

#app {
    width: 60%;
    margin : auto;
}
.heading {
    font-size: 130%;
    color: #595959  ;
}
img {
    width:20px;
    margin:7px 7px;
    height:20px;
}
button {
background-color: #4CAF50; /* Green */
border: none;
color: white;
padding: 10px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 15px;
margin: 0px 0px 4px 0px;
cursor: pointer;
float: left;
}
.title{
     font-size:25px;
     padding:20px;
}
.todoBox{
    width: 100%;
    height:133px;
    text-align: left;
    border:1px solid grey;
    margin: 10px 0px 0px 0px;
    padding:10px;
    font-size:18px;
    border-radius: 5px;
}
input {
    height: 50px;
}
</style>
<script > 

var application = new Vue({

	el: '#app',
    data: {
        input : '',
        give : '' ,
		todos : JSON.parse(localStorage.getItem('todos') || "[]"),
        count : (JSON.parse(localStorage.getItem('todos') || "[]")).length
    },
    methods: {
    	addTodo: function() {
            if(this.input.length==0)
                return ;
            this.count +=1
        	window.callBack(JSON.stringify({"tag":"AddToDo","contents":this.input}))()
        },
        deleteTodo : function (item) {
            this.count -=1;
            window.callBack(JSON.stringify( {"tag":"RemoveToDo","contents": {"data":item.data,"date":item.date , "show" : true} } ))()
        },
        format : function (date) {
           var date = new Date(date),str;
           str = date.getDate()+"/"+date.getMonth()+"/"+date.getFullYear()+ " - "+ date.getHours()+":"+date.getMinutes()+":"+date.getSeconds()
           return str
        },
        saveTodo : function (item) {
            window.callBack(JSON.stringify( {"tag":"UpdateToDo","contents": {"data":item.data,"date":item.date , "show" : true} } ))()
        }
    }

});
</script>